@model IEnumerable<NanoSoftExam.Models.Class>

@{
    ViewBag.Title = "Index";
}
<br />

<p>
    <a href="@Url.Action("AddOrEdit","Class")" class="btn btn-info"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table table-striped">
    <thead class="table-heading ">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
           
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            
            <td>
                <a href="@Url.Action("AddOrEdit","Class", new {id=item.Id})" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
                <a onclick="Delete(@item.Id)" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
    }

</table>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
        function Delete(id) {
            alertify.confirm('Web Api CRUD Operation', 'Are You Sure to Delete this Record ?', function () {
                window.location.href = '@Url.Action("Delete", "Class")/' + id;
            }, null);
        }
    </script>
}